
    <div class="container">
      <h1>Объективный рейтинг ИТ-курсов</h1>
      <p>
        Сервис подбора лучших ИТ-курсов по категориям, цене и отзывам
      </p>      
    </div>
    <section>
      <div class="container">
        <div class="row z-depth-2 blue-grey darken-4 course-card">
          <div class="col m4 s12 ">
            <div class="row">
              Яндекс.Практикум
            </div>
            <div class="row">
              Веб-разработчик
            </div>
            <div class="row">
              Рейтинг: 4.5
            </div>
            <div class="row">
              Отзывов: 143
            </div>
          </div>
          <div class="col m4 s12 center-align">
            <div class="row">
              <span class="prog-badge">HTML</span>
              <span class="prog-badge">CSS</span>
              <span class="prog-badge">Javascript</span>
              <span class="prog-badge">Node.js</span>
            </div>
            <div class="row">
              <span class="tech-badge">Git</span>
              <span class="tech-badge">GitHub</span>
            </div>
          </div>
          <div class="col m3 s12 center-align">
            <div class="row">
              14 000 р / месяц
            </div>
            <div class="row">
              134 100 р всего
            </div>
            <a class="waves-effect waves-light btn">На сайт</a>
          </div>
        </div>

      </div>
    </section>
    <section>
      <div class="container">
        <h2>Как выбрать лучшие ИТ-курсы?</h2>
        <p>
          На сайте все-ит-курсы мы собрали лучшие ит курсы по программированию, 
          дизайну, тестированию и управлению проектами.
        </p>
      </div>
    </section>
